
/* Contendor principal dentro de header */
.header-info-container{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: row; /* Se ajusta horizontalmente */
    flex-wrap: wrap;  /* Se ajustan cuando no caben */
    justify-content: space-around; /* Ocupan todo el espacio, eje x */
    align-items: center; /* Centrado en eje y */
    height: 40px;
    padding: 0 10px;
}

.header-info-text-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 550px;
}

.header-icon-container{
    height: 40px;
    width: 140px;;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.header-icon-container a{
    color: antiquewhite;
    font-size: 24px;
}